<html style="background-color: #363740">
  <div class="container main-background">
    <mat-card>
      <mat-card-title class="card-title">HR System</mat-card-title>
      <br />
      <mat-card-content>
        <p class="reset-label">Esqueci minha senha</p>
        <p class="info">Para redefinir a sua senha, informe o e-mail cadastrado no sistema e enviaremos em alguns instantes mais detalhes sobre como prosseguir.</p>
        <br>
        <form>
          <mat-form-field appearance="outline" class="input">
            <input type="text" class="input-props" matInput placeholder="Email" />
          </mat-form-field>
          <div>
            <button class="button-card" type="button" mat-button>
              <span>Enviar</span>
            </button>
          </div>
          <br>
          <div>
            <a class="go-back" (click)="goToPage('login')">Voltar</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</html>
