html {
  background-color: #fff !important;;
}

mat-sidenav {
  font-size: 19px;
  font-family: Mulish;
  width: 15%;
  margin: 0;
}

mat-toolbar {
  font-size: 25px;
  font-family: Mulish;
  color: black;
  font-weight: bold;
  background-color: white;
}

h1 {
  font-family: Mulish;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

hr {
  margin: 10px 0;
}

.hr1 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}

.font {
  font-family: Mulish;
}

.full-width {
  width: 100%;
}

body {
  margin: 0;
}