<mat-sidenav
    #sidenav
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
    [fixedInViewport]="true"
  >
    <h1>HR System</h1>
    <mat-nav-list>
      <mat-list-item class="font" href="..." (click)="goToPage('home')"
        ><mat-icon mat-list-icon>lightbulb</mat-icon>Home</mat-list-item
      >
      <mat-list-item class="font" href="..."
        ><mat-icon mat-list-icon>pageview</mat-icon>Painel de
        Benefícios</mat-list-item
      >
      <mat-list-item class="font" href="..." (click)="goToPage('candidate')"
        ><mat-icon mat-list-icon>pageview</mat-icon>Painel de
        Candidatos</mat-list-item
      >
      <mat-list-item class="font" href="..."
        ><mat-icon mat-list-icon>pageview</mat-icon>Painel de
        Departamentos</mat-list-item
      >
      <mat-list-item class="font" href="..."
        ><mat-icon mat-list-icon>pageview</mat-icon>Painel de
        Funcionários</mat-list-item
      >
      <mat-list-item class="font" href="..."
        ><mat-icon mat-list-icon>pageview</mat-icon>Painel de
        Usuários</mat-list-item
      >
      <mat-list-item class="font" href="..."
        ><mat-icon mat-list-icon>text_snippet</mat-icon
        >Relatórios</mat-list-item
      >
      <hr class="hr1" />
      <mat-list-item class="font" href="..."
        ><mat-icon mat-list-icon>settings</mat-icon
        >Administrativo</mat-list-item
      >
      <mat-list-item class="font" href="..."
        ><mat-icon mat-list-icon>groups</mat-icon>Sobre</mat-list-item
      >
    </mat-nav-list>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>