<div>
  <label>Painel de Candidatos</label>
  <div class="row">
    <div class="col col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          {{ isEdit ? "Alter" : "Create" }}
        </div>
        <div class="card-body">
          <form [formGroup]="candidateForm" id="candidateForm">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                  <label for="ID">ID</label>
                  <input
                    type="text"
                    class="form-control"
                    id="id"
                    placeholder="ID"
                    formControlName="id"
                    readonly="true"
                  />
                </div>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="form-group">
                  <label class="form-control-label" for="descricao"
                    >Description</label
                  ><span style="color: red">*</span>
                  <input
                    type="text"
                    class="form-control"
                    required
                    maxlength="100"
                    id="descricao"
                    placeholder="Description"
                    formControlName="descricao"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <p class="col-lg-12 text-right">
      <button
        type="button"
        class="btn btn-primary"
        id="salvar"
        form="acaoForm"
        (click)="onSubmit()"
      >
        Save
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onCancel()"
        id="cancelar"
      >
        Return
      </button>
    </p>
  </div>
</div>
