html {
  background-color: #fff !important;
}

.main-background {
  height: 100%;
  width: 100%;
  font-family: Mulish !important;
  background-color: #fff !important;
}

mat-table {
  font-family: Mulish !important;
}

mat-header-cell {
  font-size: 20px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #a4a6b3 !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: grey !important;
}

.filter {
  color: #a4a6b3;
  font-family: Mulish;
  cursor: pointer;
}

.input-props {
  color: black;
  font-family: Mulish;
}

mat-sidenav {
  font-size: 19px;
  font-family: Mulish;
  width: 15%;
}

mat-toolbar {
  font-size: 25px;
  font-family: Mulish;
  color: black;
  font-weight: bold;
  background-color: white;
  margin-left: 15%;
}

h1 {
  font-family: Mulish;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

hr {
  margin: 10px 0;
}

.hr1 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}

.font {
  font-family: Mulish;
}

.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}

/* Structure */
.container {
  display: flex;
  flex-direction: column;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 30%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 30%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7) {
  flex: 0 0 7%;
}

.btn {
  background-color: #3751ff;
  margin-left: 25px;
  margin-bottom: 10px;
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
}