<mat-sidenav-container class="main-background" autosize>
  <sidenav-menu></sidenav-menu>
  <div class="container" style="margin-left: 15%; font-weight: bold;">
    <br /><br />
    <!-- <mat-label class="title div-prop"> HR System </mat-label> -->
    <span class="text">
      Dê um upgrade no seu processo de recrutamento e seleção!
    </span>
    <img src="../../assets/img/customers.jpeg" />
    <br /><br />
    <div>
      <mat-label #quem_somos class="title div-prop"> Quem Somos </mat-label>
    </div>
    <br />
    <div class="div-prop">
      <span class="text">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
        voluptas nulla pariatur?"
      </span>
    </div>
    <br /><br />
    <div>
      <mat-label #clientes class="title div-prop">
        Grandes empresas confiam em nosso trabalho!
      </mat-label>
      <br /><br />
      <div class="row">
        <div class="column">
          <img src="../../assets/img/ambev.jpeg" style="width: 150px" />
        </div>
        <div class="column">
          <img src="../../assets/img/gpa.jpeg" style="width: 150px" />
        </div>
        <div class="column">
          <img src="../../assets/img/picpay.jpeg" style="width: 150px" />
        </div>
        <div class="column">
          <img src="../../assets/img/santaner.jpeg" style="width: 150px" />
        </div>
        <div class="column">
          <img src="../../assets/img/vivo.jpeg" style="width: 150px" />
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <mat-label #servicos class="title div-prop">
        Alguns dos benefícios obtidos através da nossa gestão:
      </mat-label>
    </div>
    <br />
    <div class="div-prop">
      <span class="text">- Correção de problemas;</span><br />
      <span class="text">- Recrutamento de talentos;</span><br />
      <span class="text">- Melhoria no clima organizacional;</span><br />
      <span class="text">- Redução de custos;</span>
    </div>
    <br><br>
  </div>
</mat-sidenav-container>
